body{
		background-color: #EAF6F6;
}

hr{
	border-color: grey;
	height: 0px;
	width: 5%;
	border-top-style: dotted;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-top-width: 5px;
}

h1{
	color: #66BFBF;
}

h3{
	color: #66BFBF;
}